* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --primary-color:white;
  --secondary-color:#eeeeee97;
  --background:#212121;
  --accent-color: #007bff;
  --heading-font:"roboto",Arial, sans-serif;
}
body {
  min-height: 100vh;
  background-color:#000000;
  color: var(--primary-color);
  overflow-x: hidden;
}
i{
  cursor: pointer;
}
.logo{
  font-size: 2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
  padding: 2rem 3rem;
  z-index: 10000;
}
.nav-link {
  display: flex;
  gap: 3rem;
}
.nav-link li {
  list-style: none;
}
.nav-link li a {
  text-decoration: none;
  color: #eeeeee97;
}
.nav-link li a:hover {
  color: white;
}
.hamburger {
  display: none;
  font-size: 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}
.nav-link .link-active {
  color: white;
}
.close-btn {
  font-size: 1.5rem;
  display: none;
  position: absolute;
  top: 2.5rem;
  right: 3rem;
}

.hero-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
      to bottom,
      black 10%,
      rgba(255, 255, 255, 0.1) 30%,
      black 100%
    ),
    url('./assets/images/circle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%;
  color: var(--primary-color);
}

.hero-section .title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20%;
  z-index: 1;
}

.hero-section .title h1{
  font-size: clamp(3rem, 5vw , 4rem);
  font-family: var(--heading-font);
  font-weight: 900;
  line-height: 4rem;
}

.hero-section .title p {
  color: #eeeeee97;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
  font-size: clamp(2rem,3vw,2.5rem);
}

/* .model {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
} */

/* .hero-section .model img {
  width: 40vw;
  min-width: 330px;
} */
.hero-section .bottom {
  position: fixed;
  width: 100vw;
  bottom: 3rem;
  display: flex;
  justify-content: space-around;
}
.hero-section .bottom div {
  text-align: center;
}
.hero-section .bottom div h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 0.5rem;
  text-wrap: nowrap;
  font-size: clamp(1.5rem,2vw,2.5rem);
}
.hero-section .bottom div p {
  color: #eeeeee97;
  font-size: clamp(0.7rem,2vw,1rem);
  padding: 0 5px;
}

/* Swiper Style */
.hero-section .swiper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero-section .swiper-slide {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .swiper-slide img {
  width: 40vw;
  min-width: 320px;
  height: auto;
  object-fit: contain;
  user-select: none;
}
.hero-section .swiper-button-next{
  right: 7rem;
}
.hero-section .swiper-button-prev{
  left: 7rem;
}
.hero-section .swiper-button-next,
.hero-section .swiper-button-prev {
  color: black;
  background-color: white;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}
.hero-section .swiper-button-next:after,
.hero-section .swiper-button-prev:after {
  font-size: 1rem;
  font-weight: bold;
}

/* Responsive Part */
@media only screen and (max-width: 600px) {
.nav-bar .nav-link {
    position: fixed;
    top: -100%;              /* hide above viewport */
    left: 0;
    width: 100vw;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 5rem 2rem 5rem 2rem;
    transition: 1s ease; /* smooth slide */
    z-index: 1000000;
    opacity: 0;
    align-items: center;
}

  /* When nav is active (open) */
  .nav-bar .nav-link.active {
    opacity: 1;
    top: 0;
  }
  .hamburger {
    display: block;
  }
  .close-btn.active {
    display: block;
  }
  .swiper-button-prev {
    left: 15px !important;
  }

  .swiper-button-next {
    right: 15px !important;
  }

  .hero-section .bottom {
    bottom: 5rem;
  }
}

.search-box {
  margin: 30px auto;
  width: 60%;
  background: transparent;
  position: relative;
  padding: 9px 20px;
  border-radius: 30px;
  box-shadow: inset 0px 0px 10px 1px white;
  display: flex;
  align-items: center;
} 
.search-box input {
width: 100%;
background: transparent;
padding-left: 50px;
border: none;
outline: none;
color: #fff;
font-size: 16px;
}

.search-box .icon {
  position: absolute;
  left: 10x;   /* put icon left: 10px if you want it on left */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* so you can click input */}

  .shopSwiper {
  width: 100%; /* adjust size of swiper container */
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
}

.shopSwiper .swiper-slide img {
  width: 40%;   /* make car smaller */
  height: auto; /* keep proportions */
  object-fit: contain;
  display: block;
  filter:brightness(0.8);
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #f3f3f3;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
